/vendor
/node_modules
/public/storage
/public/bower_components
Homestead.yaml
Homestead.json
.env
.idea/
nbproject/
composer.lock
/public/uploads/images/*
/public/packages/*
/public/uploads/ckeditor/*.png
/public/uploads/ckeditor/*.jpg
/public/uploads/ckeditor/*.jpeg
/public/uploads/ckeditor/*.gif
composer.phar
.gitignore